
#fst-feedback-overlay {
    opacity: 0;

    position: fixed;
    top: 0; left: 0;
    height: 100%; width: 100%;
    z-index: 10002;
}

.fst-feedback-highlights {
    border: 1px solid black;
    box-shadow: 5px 5px 5px #000;

    position: absolute;
    top: 0; left: 0;
    height: 0; width: 0;
    z-index: 10001;
}

.fst-feedback-highlight-overlays {
    background-color: black;
    opacity: .5;

    border: 1px solid white;
    position: absolute;
    top: 0; left: 0;
    height: 0; width: 0;
    z-index: 10000;
}